<div class="footer">
    <div class="about-company">
        <h3>About SuperBrand</h3>
        <p>Super Brand Management ondersteunt in het vormgeven, beleven en versterken van de kernwaarden van de organisatie.</p>
    </div>
    <div id="contactgegevens" class="contact">
        <h3>Contact</h3>
        <p>Marel Brinkman<br>
            <a href="callto:+31653637052">+31 6 53 65 70 52</a><br>
            <a href="mailto:marelbrinkman@superbrandmanagement.nl">marelbrinkman@superbrandmanagement.nl</a><br>
            <a href="http://nl.linkedin.com/pub/marel-brinkman/27/65a/913">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://twitter.com/SuperBrandMan">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.facebook.com/superbrandmanagement">
                <i class="fa fa-facebook"></i>
            </a>
        </p>
    </div>
</div>
<div class="copyright">
    <p>Copyright SuperBrand management 2014</p>
</div>
<script src="/js/vendor/jquery-1.10.2.min.js"></script>
<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</body>
</html>
